In [41]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv")

df.shape #Grandezza del dataframe tupla(righe, colonne)

df.loc[0] #Primo record

df.loc[0:10] #Le righe da 0 a 10

df.loc[0:] # Le righe da 0 all'ultima

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [42]:
df.loc[0, "bill_depth_mm"] # record in riga 0 e colonna bill_depth_mm

df.loc[0:, "bill_depth_mm"] # record da riga 0 a ultima nella colonna bill_depth_mm

df.head(3) #Primi 3 record

df.tail(5) #Ultimi 5 record

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [43]:
maschera = df["species"] =="Gentoo" #Questo ritorna solo True o False
df[maschera]["flipper_length_mm"].mean() #Media del campo della maschera

217.1869918699187

In [44]:
gruppi = df.groupby('species', as_index=False).groups #{'Adelie': [0, 1, 2,...], 'Chinstrap': [152, 153, 154,...]...}
serie = pd.Series(gruppi)

In [45]:
serie.loc["Adelie"]

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       142, 143, 144, 145, 146, 147, 148, 149, 150, 151],
      dtype='int64', length=152)

In [46]:
df.groupby("species", as_index=False)["body_mass_g"]

In [47]:
df.groupby("sex", as_index=False).size().loc[1] #Maschi

sex     MALE
size     168
Name: 1, dtype: object

In [49]:
import seaborn as sns

sns.scatterplot(data=gruppo_specie_peso, x="aa", y="bb")

TypeError: Data source must be a DataFrame or Mapping, not <class 'pandas.core.groupby.generic.SeriesGroupBy'>.